footer { 
    background: $footer_background-main;
    color: $footer_text;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 14px;

    .footer-widgets {
        padding: 10px 0 20px 0;
        overflow: hidden;
        
        h3 {
            margin-top: 0;
            margin-bottom: 1rem;           
        }
        
        p {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
        }
        
        a,
        a:visited {
            //color: #fff;        
        }
        
        a:focus,
        a:hover {
            //color: #ccc;
        }
    }
    
    .copyright {
        padding: 10px 0;
        text-align: center;
        margin: 20px 0 0 0;
        color: #fff;
        background: $footer_background-copyright;
    }    
}
