.site-header {
    padding: 30px 15px;
     
    .site-branding {
        .navbar-brand {
            color: #777;
            //float: left;
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
        }
    }
    
    .main-navigation {
        //float: right;
        //width: auto;        
    }
}