.mdw-wp-slider .carousel-indicators {
  bottom: 5px; }

.mdw-wp-slider .carousel-inner > .item {
  height: 100%; }

.mdw-wp-slider .carousel-caption {
  font-size: 18px; }

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  margin: 0 auto; }