.wp-block-columns {
    display: flex;
    margin: 20px 0;
}

.wp-block-column {
    flex: 1;
    margin: 0 20px;
}

@media (max-width: 764px) {
    .wp-block-columns.has-3-columns {
        flex-flow: row wrap;
    }

    .has-3-columns .wp-block-column:first-child {
        flex-basis: 100%;
    }
}

@media (max-width: 478px) {
    .wp-block-columns.has-3-columns {
        display: block;
    }

    .wp-block-column {
        margin: 20px 0;
    }
}